{% extends "base.html" %}

{% block content %}
{{block.super}}


<div class="">

<section class="courses">


{% for obj in object_list %}
		<article>
			<a href='{{obj.get_absolute_url}}' class="list-group-item list-group-item-action flex-column align-items-start" >

	    	<div class="d-flex ">
	    		{% if obj.image %}
			<figure width='200' height='200'>
			<img  width='198' height='201' src="{{obj.image.url}}" alt="{% if obj.headline %}{{obj.headline}}{% elif obj.title %}{{obj.title}}{% endif %}" />
			<figcaption>{{ obj.headline }}</figcaption>
			</figure>
			{% endif %}
			<div id= "small_text">
			<hgroup>
				
			<h2 class="mb-1">{{obj.title}}</h2>
			</hgroup>
			<small class="text-muted">{{obj.timestamp}}</small>
			<p class="mb-1">{{obj.get_markdown|truncatechars_html:20}}</p>
			<small class="text-muted">Written by: {{obj.owner}}</small>
			</div>
			</div>
			</a>

		
		</article>
		{% empty %}
		<h4> <a href="rhema/post/create">You can also add a rhema filled post</a></h4>
		<h4> You can also follow other people to see thier post. That can be achieved by clicking on thier profile</h4>
		


{% endfor%}
<div class="pagination">
<span class="step-links">
{% if object_list.has_previous %}
<a href="?page=1">&laquo; first</a>
<a href="?page={{ object_list.previous_page_number }}">previous</a>
{% endif %}
<span class="current">
Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
</span>
{% if object_list.has_next %}
<a href="?page={{ object_list.next_page_number }}">next</a>
<a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
{% endif %}
</span>
</div>

</section>
</div>
{% endblock content %}







{% load humanize %}
	{% load staticfiles %}

	<head>
		{% block head_link %}
		{{block.super}}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href='{% static "assets/css/main.css" %}' />
		
		
	{% endblock head_link %}
















<!-- Banner -->
			<!--
				To use a video as your background, set data-video to the name of your video without
				its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
				formats to work correctly.
			-->{% block heading %}
				<section id="banner" data-video="images/banner">
					<div class="inner">
						<header>
							
								
									<h1>Rhema evereyday</h1>
									<form class="row search " action='{% url "search" %}'>
							  	<div class="input-group">
								     <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search" >
								     <span class='input-group-btn'>
								      <button class="btn btn-defalt" type="submit">Search</button>
								  	</span>
							  	</div>
							    </form>
									
							
							<p>You have {{counted}} rhema filled post, that will surely edify your soul.</p>
						</header>
						<a href="#main" class="more">Learn More</a>
					</div>
				</section>{% endblock heading %}
{% block content %}
{{block.super}}

<section class="courses">
			<!-- Main -->
				<div id="main">
					<div class="inner">
						
					<!-- Boxes -->
						<div class="thumbnails">
							{% for obj in object_list %}
							<div class="box">
								<a href="{{obj.videos.url}}" class="image fit"><img src="{{obj.image.url}}" alt="" /></a>
								<div class="inner">
									<h3>{{ obj.title }}</h3>
									<p>{{obj.get_markdown|truncatechars_html:100}}</p>
									<a href='{{obj.get_absolute_url}}' class="button fit" data-poptrox="youtube,800x400">Watch</a>
								</div>
							</div>
							{% empty %}
		<h4> <a href="rhema/post/create">You can also add a rhema filled post</a></h4>
		<h4> You can also follow other people to see thier post. That can be achieved by clicking on thier profile</h4>
		
							{% endfor %}
							

						</div>

					</div>
				</div>

<div class="pagination">
<span class="step-links">
{% if object_list.has_previous %}
<a href="?page=1">&laquo; first</a>
<a href="?page={{ object_list.previous_page_number }}">previous</a>
{% endif %}
<span class="current">
Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
</span>
{% if object_list.has_next %}
<a href="?page={{ object_list.next_page_number }}">next</a>
<a href="?page={{ object_list.paginator.num_pages }}">last &raquo;</a>
{% endif %}
</span>
</div>

</div>


</section>

































{% endblock content %}

{% block head_script %}
{{block.super}}
		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.poptrox.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
			
			<script src="{% static 'jquery-ui-1.12.1/jquery-ui.js' %}"></script>
	<script src="{% static 'marked/marked.min.js' %}"  ></script>
	

	
{% endblock head_script %}