<aside class="bottom">
   <section class="popular-recipes">

<h2>Topics</h2>

    <form action="{% url 'search' %}">
<button class="side_nav"name="search" value='righteousness'> Righteousness</button>
<button class="side_nav"name="search" value='faith'> Faith</button>
<button class="side_nav" name="search" value='faith'> Truth</button>
<button class="side_nav" name="search" value='faith'> Purity</button>
<button class="side_nav"name="search" value='faith'> Impactation</button>
<button class="side_nav"name="search" value='faith'> Mercy</button>
<button class="side_nav"name="search" value='faith'> Love</button>
<button class="side_nav"name="search" value='faith'> Meekness</button>
<button class="side_nav"name="search" value='faith'> Patience</button>
<button class="side_nav"name="search" value='faith'> Power</button>
<button class="side_nav"name="search" value='faith'> Prudence</button>
<button class="side_nav"name="search" value='faith'> Praises</button>
<button class="side_nav"name="search" value='faith'> Self control</button>
<button class="side_nav"name="search" value='faith'> Miracles</button>
<button class="side_nav"name="search" value='faith'> Finance</button>
<button class="side_nav"name="search" value='faith'> Dilligence</button>
<button class="side_nav"name="search" value='faith'> Honesty</button>
<button class="side_nav"name="search" value='faith'> Goodness</button>
<button class="side_nav"name="search" value='faith'> Grace</button>


</form>

</section>



</aside>

